body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgba(32, 25, 25, 1); /* Cor de fundo da tela */
    color: #fff;
}


.container {
    display: flex;
    height: 93vh;
    overflow: hidden;
}

.sidebar {
    width: 240px;
    background: linear-gradient(to bottom right, rgba(32, 25, 25, 1), rgba(43, 0, 86, 1));
    padding: 20px;
    box-sizing: border-box;
    position: fixed; /* Fixa a barra lateral */
    top: 0; /* Ajusta para o topo */
    bottom: 0; /* Estende até o final da tela */
    overflow-y: auto; /* Adiciona rolagem vertical se necessário */
}

.sidebar .logo {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
}

.sidebar .nav,
.sidebar .user-activity ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar .nav li,
.sidebar .user-activity ul li {
    margin-bottom: 10px;
}

.sidebar a {
    text-decoration: none;
    color: #b3b3b3;
    font-size: 14px;
}

.sidebar a:hover {
    color: #fff;
}

.icon  {
    width: 18px;
    height: 18px;
    vertical-align: middle;
    filter: invert(100%);
    margin-right: 5px;
}


.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    margin-left: 240px; /* Ajusta o espaço à esquerda para compensar a barra lateral */
    overflow-y: auto; /* Adiciona rolagem vertical se necessário */
}


.music-player-container {
    width: 100%;
    height: 60px;
    background-color: #212121;
    display: flex;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    position: fixed; /* Fixa o player de música */
    bottom: 0; /* Ajusta para a parte inferior da tela */
    left: 0; /* Alinha com o canto esquerdo */
    right: 0; /* Estende até o canto direito */
}

.music-info {
    display: flex;
    align-items: center;
    margin-right: 20px;
    width: 300px;
    height: 50px;
}


.song-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3px;
    height: 100%;
    margin-left: 15px;
}

.song-details p{
    padding: 0px;
    margin: 0;
}

.song-artist{
    font-size: 14px;
}

.music-controls {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    margin-right: 20px;
}

.music-img-container{
    background-color: red;
    width: 40px;
    height: 40px;
    border-radius: 5px;
}


.music-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

.control-buttons{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.music-controls button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 20px;
    margin: 0 10px;
    cursor: pointer;
}

.progress-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.progress-bar{
    -webkit-appearance: none;
    height: 4px;
    width: 30%;
    background: rgba(30, 30, 30, 1);
    border-radius: 20px;
    outline: none;
    overflow: hidden;
}


.progress-bar::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 50%;
    height: 4px;
    border-radius: 20px;
    background: linear-gradient(to right, rgba(195, 0, 212, 1), rgba(101, 0, 110, 1));
    cursor: pointer;
}

.progress-bar::-moz-range-progress{
    -webkit-appearance: none;   
    background: linear-gradient(to right, rgba(195, 0, 212, 1), rgba(101, 0, 110, 1));
}

.time {
    color: #b3b3b3;
    margin-right: 10px;
}

.volume-controls {
    display: flex;
    align-items: center;
}

.volume-icon{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
}

.volume-icon img{
    width: 20px;
    height: 20px;
}

.volume-range {
    -webkit-appearance: none;
    width: 100px;
    height: 5px;
    background: #484848;
    outline: none;
    border-radius: 5px;
    margin-left: 10px;
}

.volume-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
}


.play-pause-button{
    background-color: rgba(32, 25, 25, 1);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.play-pause-button img{
    width: 20px;
    height: 20px;
}

.song-buttons{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.song-buttons img{
    width: 20px;
    height: 20px;
}

#previous-button{
    transform: rotate(180deg);
}

.expand-button{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.expand-button img{
    width: 20px;
    height: 20px;
}

.download-button{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.download-button img{
    width: 20px;
    height: 20px;
}