@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Jost', sans-serif;
    color: white;
    overflow: hidden; /* Remove scrollbar */
}

body {
    background-color: black; /* Define a cor de fundo como preto */
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0;
    color: white;
    overflow: hidden; /* Remove scrollbar */
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    z-index: 1; /* Mantém o header acima da imagem de fundo */
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-left: 80px;
}

nav a {
    color: white;
    margin-right: 80px;
    text-decoration: none;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

nav a:hover {
    transform: scale(0.99);
    opacity: 0.5;
}



.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../resources/background-img.png') no-repeat center center;
    background-size: cover;
    filter: blur(4px); /* Aplica um blur na imagem de fundo */
    z-index: -1; /* Coloca a imagem atrás do conteúdo */
    opacity: 0.8;
}

.login-container {
    width: 450px;
    height: 450px;
    background-color: rgba(0, 0, 0, 0.75);
    border: 2px solid rgba(236, 114, 239, 1);
    border-radius: 15px;
    margin: auto;
    padding: 40px;
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Mantém o container acima da imagem de fundo */
}

.login-container h1 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 40px;
    position: relative;
}

.input-group input {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    font-size: 16px;
}

.input-group input:focus {
    outline: none;
    border-bottom-color: rgba(236, 114, 239, 1);
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: rgba(240, 66, 255, 1);
}

button {
    width: 100%;
    padding: 15px;
    background: linear-gradient(to top right, rgba(24, 20, 64, 1), rgba(195, 0, 212, 1));
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

button:hover {
    transform: scale(0.99);
    opacity: 0.9;
}


.login-container p {
    font-size: 14px;
}

.login-container p a {
    color: rgba(240, 66, 255, 1);
    text-decoration: none;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.login-container p a:hover {
    transform: scale(0.99);
    opacity: 0.8;
}




