@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Jost', sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-container {
    position: relative;
}

.search-bar {
    width: 400px;
    padding: 8px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    margin: auto;
    background-color: rgba(47, 2, 92, 0.54);
    color: #fff;
}

.search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
}

.content {
    flex: 1;
}

.album-cards-container {
    width: 1000px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 60px;
    margin-top: 20px;
    margin-left: 150px;
}

.album-card {
    width: 180px;
    height: 250px;
    background-color: #000;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.album-card:hover {
    opacity: 0.8;
    transform: scale(0.95);
}

.image-container{
    width: 100%;
    height: 70%;
    background-color: #000;
}

.album-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.album-info {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
}

.album-info p {
    margin: 0;
    color: #fff;
    font-size: 14px;
}

.album-name {
    font-weight: bold;
}

.section-title {
    color: #fff;
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    margin-left: 150px;
}

.icon  {
    width: 18px;
    height: 18px;
    vertical-align: middle;
    filter: invert(100%);
    margin-right: 5px;
}

/* Estilos para a barra de rolagem */
::-webkit-scrollbar {
    width: 12px; /* largura da barra de rolagem */
    right: 0; /* Mantém a barra de rolagem no lado direito da tela */
}

/* Estilos para o rastreio da barra de rolagem (a parte "não clicável") */
::-webkit-scrollbar-track {
    background: rgba(30, 30, 30, 1); /* cor de fundo */
}

/* Estilos para a alça (thumb) da barra de rolagem */
::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, rgba(195, 0, 212, 1), rgba(101, 0, 110, 1));; /* cor da alça */
    border-radius: 6px; /* borda arredondada */
}

/* Estilos para a alça durante o hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* cor da alça durante o hover */
}
